log-level: debug;
log-file: /var/log/aginx/aginx.log;

# api绑定地址
bind: 127.0.0.1:8011;

# api 允许代用IP
allowIp: *;

# api/web控制控制台的管理账户
auth: aginx=aginx admin=demo;

# api 使用域名暴露服务
expose: api.aginx.io;

# 是否禁用 web管理控制台
disable-admin: false;

# 是否禁用 api
disable-api: false;

# 是否禁用托管nginx
disable-daemon: false;

# nginx 可执行程序位置
nginx: /usr/local/bin/nginx;

# 连接 api 服务暴露地址
api: http://api.aginx.io;

# 统一数据存储配置
storage: consul://172.16.100.10:8500/aginx;
#storage: etcd://172.16.100.10:2379/aginx;
#storage: zk://172.16.100.10:2181/aginx;

backup {
    dir: "/var/lib/aginx/backups";
    crontab: "0 0 2 * * ?";
    limit: 30;
    day-limit: 7;
}

# 启用服务发现
registry docker://172.16.100.10:2375;
registry docker://var/run/docker.sock;
registry consul://172.16.100.10:8500;

# 启用SSL证书提供商
cert custom://certs/custom;
cert lego://aginx@renzhen.la/certs/lego;
cert tcloud://ssl.tencentcloudapi.com {
    secretId: "secretId";
    secretKey: "secretKey";
}

node local {
    name: "本地API";
    address: http://127.0.0.1:8011;
    user: aginx;
    passoword: aginx;
}

node remote {
    name: "管理远程API";
    address: http://api.aginx.io;
    user: aginx;
    passoword: aginx;
}

auth {
    mode: "basic";

    users: "aginx=aginx";
    users  {
        aginx: aginx;
    }

    ldap {
        server: "10.24.1.150:389";
        bindDn: "dc=example,dc=org";
        password: "admin";

        baseDn: "cn=admin,dc=example,dc=org";
        usernameAttribute: "uid";
        filter: "(&(objectClass=person)({{UsernameAttribute}}={{Username}}))";

        tlsCa: "";
        tlsCert: "";
        tlsKey: "";
    }
}
